<style>
  .contact-us{
    background-color: #eff3e9;
  }
      .box-1 {
        /* display: inline-block;
        width: 100%;
        cursor: pointer; */
        padding: 30px 0;
    }
  #first{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
    .input-box {
        display: flex;
        flex-direction: column;
    }

    .input-box label {
        padding: 10px 0;
        font-size: 14px;
    }

    .input-box input {
        padding: 12px;
        font-size: 14px;
        outline: none;
    }

    .input-box textarea {
        padding: 12px;
        font-size: 14px;
        outline: none;
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 20px 0;

    }

    .btn button {
        padding: 20px 0;
        background-color: black;
        color: white;
        cursor: pointer;
        border: black;
        width: 100%;
    }
</style>
<section class="contact-us">
  <div id="first" class="box-1">
    <h1>Contact Us</h1>
    {% form 'contact' %}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {% else %}
        <div class="input-box">
          <label for="name">NAME*</label>
          <input type="text" name="contact[name]" id="name" placeholder="ENTER YOUR NAME" required>
        </div>
        <div class="input-box">
          <label for="email">EMail*</label>
          <input type="email" id="email" name="contact[email]" placeholder="ENTER YOUR EMAIL" required>
        </div>
        <div class="input-box">
          <label for="number">ORDER NUMBER</label>
          <input type="number" name="contact[phone]" id="number" placeholder="#12345" required>
        </div>
        <div class="input-box">
          <label for="message">MESSAGE</label>
          <textarea
            type="text"
            name="contact[body]"
            id="message"
            placeholder="ENTER A MESSAGE"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="btn">
          <button type="submit">SUBMIT</button>
        </div>
      {% endif %}
    {% endform %}
  </div>
</section>
  <script>
    // Get reference to the button element
     var buttons = document.querySelectorAll('.btn');

    // Add click event listener to the button
    button.addEventListener('click', function() {
      // Log data to the console when the button is clicked
    console.log('form')    
    });
  </script>
{% schema %}
{
  "name": "Contact-us Form",
  "settings": [],
  "presets": [
   {
     "name": "Contact-us Form"
   }
  ]
}
{% endschema %}
