<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
<section>
  
</section>
{% schema %}
  {
    "name": "Glow Bundle",
    "settings": [],
    "presets": [
      {
        "name": "Glow Bundle"
      }
    ]
  }
{% endschema %}