<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main-block-d10{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .flex-block-d10{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .content-block{
    width: 58%;
  }
  .boxes-block{
    width: 38%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .box{
    width: 40%;
        background: #FFFFFF;
    box-shadow: 4px 4px 20px #b8b1dc;
    border-radius: 15px;
    max-width: 190px;
    max-height: 170px;
    margin-bottom: 20px;
  }
</style>
<section>
  <div class="main-block-d10" >
    <div class="flex-block-d10" >
      <div class="content-block" >
        <h1>{{ section.settings.sec-title }}</h1>
        <p>{{ section.settings.content }}</p>
      </div>
      <div class="boxes-block" >
        {% for block in section.blocks limit:4 %}
         <div class="box" >
           <div class="box-image" >
             <img src="{{ block.settings.block-img | img_url: 'master' }} ">
           </div>
           <p>{{ block.settings.block-text }}</p>
         </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Glow Bundle",
    "settings": [
      {
        "type": "text",
        "id": "sec-title",
        "label": "Section Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Section content"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "block-img",
            "label": "Add Image"
          },
          {
            "type": "text",
            "id": "block-text",
            "label": "Add Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Glow Bundle"
      }
    ]
  }
{% endschema %}