<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
<section>
  <div class="main-block-d10" >
    <div class="flex-block-d10" >
      
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Glow Bundle",
    "settings": [],
    "presets": [
      {
        "name": "Glow Bundle"
      }
    ]
  }
{% endschema %}