<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
     .flex-block{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
     }
     .sec-image{
        width: 50%;
        padding: 0 20px;
     }
     .sec-image img{
        width: 100%;
     }
     .text-side{
        width: 50%;
        text-align: center;
     }
     .text-side button{
        padding: 10px 20px;
     }
     @media only screen and (max-width: 767px){
        .flex-block{
            flex-direction: column;
            padding: 20px 10px;
        }
        .sec-image{
            width: 100%;
            padding: 10px 0;
        }
        .text-side{
            width: 100%;
        }
     }

</style>
<section>
    <div class="flex-block">
    <div class="sec-image" >
        <img src="{{ section.settings.sec-image |  img_url: 'master'   }}" alt="">
    </div>
    <div class="text-side">
        <h1>{{ section.settings.sec-title }}</h1>
        <p>{{ section.settings.sec-text  }}</p>
        <p>hello</p>
        <p>hlo new chaning for main branch</p>
        <a href="{{ section.settings.btn-url }}">
            <button>Shop now</button>
        </a>
    </div>
    </div>
</section>

{% schema %}
{
    "name": "image-text-2",
    "settings": [
        {
            "type": "image_picker",
            "id": "sec-image",
            "label": "section image"
        },
        {
            "type": "text",
            "id": "sec-title",
            "label": "Section Title"
        },
        {
            "type": "textarea",
            "id": "sec-text",
            "label": "section content"
        },
        {
            "type": "url",
            "id": "btn-url",
            "label": "Button url"
        }
        ],
        "presets": [
            {
                "name": "image-text-2"
            }
        ]
}
{% endschema %}