<section>
    <h1>{{ section.settings.main-title }}</h1>
    <div class="image-collection">
        <div class="image-block">
            <img src="{{ section.settings.sec-image |  img_url: 'master' }}" alt="loading image">
            <div class="text-box">
                 <h5>{{ section.settings.box-title }}</h5>
                 <p>{{ section.settings.box-text }}</p>
                 <a href="section.settings.sec-url">
                 <button>SHOP GIFT CARDS</button></a>
            </div>
        </div>
        <div class="collection-block">
            {% assign collection = section.settings.featured_collection %}
            {% for product in collection.products %}
                {% endfor %}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "image-collection",
    "settings": [
        {
            "type": "text",
            "id": "main-title",
            "label": "Section Title"
        },
        {
            "type": "image_picker",
            "id": "sec-image",
            "label": "Section Image"
        },
        {
            "type": "text",
            "id": "box-title",
            "label": "Box Title"
        },
        {
            "type": "textarea",
            "id": "box-text",
            "label": "Box Text"
        },
        {
            "type": "url",
            "id": "sec-url",
            "label": "Section Url"
        }
        ],
        "presets": [
            {
                "name": "image-collection"
            }
        ]
}
{% endschema %}